<section id="setup">
    <aside id="error" class="app">
        <h1>{{title}}</h1>
        <p class="error">{{{message}}}</p>
        {{#if stack}}
        <pre>
            <code>{{stack}}</code>
        </pre>
        {{/if}}
        <p>
            <a class="button" href="./setup" title="Go Back" target="_self">
                <i class="fas fa-backward"></i> Go Back
            </a>
        </p>
    </aside>
</section>
