<template id="notifications"></template>
<section id="setup" data-step="{{step}}">
    {{#unless isEULA}}
    <form id="license-key" class="app dark" method="post" autocomplete="off">
        <h1>License Key Activation</h1>
        <div class="form-group">
            <label for="key">License Key</label>
            <input id="key" name="licenseKey" type="text" value="{{licenseKey}}" required/>
            <p class="notes">Enter a valid Foundry Virtual Tabletop software license key.</p>
        </div>

        <div class="form-group">
            <button type="submit" name="action" value="enterKey">
                <i class="fas fa-key"></i>
                Submit Key
            </button>
        </div>
    </form>
    {{/unless}}
</section>
