<form id="compendium-create">
    <p>{{localize "COMPENDIUM.CreateHint"}}</p>

    <div class="form-group">
        <label>{{localize "Name"}}</label>
        <input type="text" name="label" placeholder="{{localize 'COMPENDIUM.Name'}}" autofocus>
    </div>

    <div class="form-group">
        <label>{{localize "COMPENDIUM.Type"}}</label>
        <select name="type">
            {{selectOptions types}}
        </select>
        <p class="notes">{{localize "COMPENDIUM.TypeHint"}}</p>
    </div>
</form>
