<p>{{ hasDependenciesLabel }}</p>
<div class="dependencies-info">
    <section>
        <p><b>{{ autoInstallLabel }}</b></p>
        {{#each canInstall}}
        <p><a href="{{ this.url }}" title="{{ this.id }}" target="_blank">{{this.id}}{{#if this.version}} (ver. {{this.version}}){{/if}}</a></p>
        {{/each}}
    </section>
    <section>
        <p><b>{{ manualInstallLabel }}</b></p>
        {{#each cantInstall}}
        <p><a href="{{ this.url }}" title="{{ this.id }}" target="_blank">{{this.id}}{{#if this.version}} (ver. {{this.version}}){{/if}}</a> - {{this.message}}</p>
        {{/each}}
    </section>
</div>
