<section>
    <div class="update-notes">
        {{{notes}}}
    </div>
    <hr>
    <p>
      {{{localize "SETUP.FullListOfReleaseNotes" url='<a href="https://foundryvtt.com/releases/" target="_blank">https://foundryvtt.com/releases/</a>'}}}
    </p>
    <footer class="sheet-footer flexrow">
        <button type="button" data-action="download">
            <i class="fa fa-cloud-download-alt"></i>
            <label>{{localize "SETUP.BeginDownload"}}</label>
        </button>
    </footer>
</section>
